<div class="nav">
  <nav role="navigation">
    <ul class="pagination">
      {% with button_disabled=(page <= 1),
              button_title="« Previous",
              page_index=(page - 1)%}
        {% include "navigation/button.html" %}
      {% endwith %}

      {% set vars = {"has_elipsis": False} %}

      {% for n in range(total_pages) %}
        {% if total_pages <= 10 or
              n in [0, 1] or
              n in [total_pages - 2, total_pages-1] or
              n >= page - 3 and n < page + 2 %}
          {% with button_disabled=(n + 1 == page),
                  page_index=(n + 1)%}
            {% include "navigation/button.html" %}
          {% endwith %}
          {% set _ = vars.update({"has_elipsis": False}) %}
        {% else %}
          {% if not vars["has_elipsis"] %}
            <span class="ellipsis">…</span>
            {% set _ = vars.update({"has_elipsis": True}) %}
          {% endif %}
        {% endif %}
      {% endfor %}

      {% with button_disabled=(page >= total_pages),
              button_title="Next »",
              page_index=(page + 1)%}
        {% include "navigation/button.html" %}
      {% endwith %}
    </ul>
  </nav>
</div>