{% extends "base.html" %}
{% block content %}
    <div class="container">

    <div class="header">
      <div class="header-content">
        <a href="/"><img src="logo_40.png" alt="BTDB LOGO" class="logo"></a>
        <div class="search-area">
          <form action="/search" method="get" name="f" role="search" accept-charset="utf-8" class="search-form" id="search-form">
            <input type="text" id="search-input" aria-label="Search" value="{% if query %}{{ query }}{% endif %}" title="BTDB Search" name="q" maxlength="2048" class="search-input" aria-haspopup="false" role="combobox" aria-autocomplete="both" spellcheck="false" autocomplete="off">
            
            <button class="search-btn">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="content clearfix">
      {% block results %}{% endblock %}
    </div>
{% endblock %}