{% extends "base.html" %}
{% block content %}
  <body>
    <div class="container container-index">
      <div class="index">
        <div class="index-logo">
          <img width="304" height="93" src="/logo.png" alt="BTDB LOGO" class="logo">
        </div>
        
        <div class="search-area">
          <form action="/search" method="get" name="btdb-search" role="search" accept-charset="utf-8" class="search-form" id="search-form">
            <input type="text" id="search-input" aria-label="Search" value="" title="BTDB Search" name="q" maxlength="2048" class="search-input" aria-haspopup="false" role="combobox" aria-autocomplete="both" spellcheck="false" autofocus="" autocomplete="off">
            
            <button class="search-btn">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </div>
        
        <h2>Magnet &amp; Torrent Search Engine</h2>
        
        <div class="recent-link">
          <a href="recent">Recent Torrents</a>
        </div>
      </div>
    </div>
{% endblock %}